.kalkulator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.781);
}

#display {
  width: 90%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tombol {
  margin-top: 20px;
}

.button {
  width: 60px;
  height: 40px;
  font-size: 18px;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.buttonred {
  width: 60px;
  height: 40px;
  font-size: 18px;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}

.history {
  width: 50%;
  margin: 30px auto 0 auto;
  overflow: scroll;
  padding: 20px;
  background-color: #f9f9f9ce;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.history h2 {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.history table {
  border-collapse: collapse;
  width: 100%;
}

.history th,
.history td {
  border: 1px solid #ddddddb6;
  padding: 10px;
  text-align: center;
}

.history th {
  background-color: #f0f0f0;
  color: #333;
}

.history td {
  background-color: #fff;
}

.history tr:nth-child(even) {
  background-color: #f9f9f9;
}

.history tr:hover {
  background-color: #f0f0f0;
}

.hapus-tunggal {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hapus-tunggal:hover {
  background-color: #c0392b;
}

#hapus-semua {
  background-color: #e74c3c;
  margin: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

#hapus-semua:hover {
  background-color: #c0392b;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.flex-container-column {
  position: relative;
  z-index: 1;
}
